{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="centrumpicture col-xs-12 col-sm-12 col-md-5">
            <h3><img src="/static/media/images/logo.width-425.png" alt="Logo png width-425" width="425" height="125" align="left"> </h3>
            
        </div>
            
        <div class="contentpicturetext col-xs-12 col-sm-12 col-md-7">

            
            <p style="text-align:  justify"><b>Centrum Serca Lumina Cordis</b> prowadzić będzie pełną diagnostykę ambulatoryjną chorób sercowo-naczyniowych, wykorzystując w tym celu wszystkie uaktualnione względem wytycznych światowych metody laboratoryjno-obrazowe.</p>
            
            <p style="text-align:  justify">Wyróżnia nas holistyczne i zindywidualizowane podejście do każdego pacjenta, uwzględniające jego potrzeby, poprzez połączenie podejścia medycyny „zachodu” oraz ustandaryzowanych i ogólnie uznanych metod medycyny „wschodu”.</p>
            
      
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <ul class="item">
            <li class="item col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/01.jpg" alt="01" width="350" height="260">
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/02.jpg" alt="02" width="350" height="260">
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/03.jpg" alt="02" width="350" height="260">
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/04.jpg" alt="02" width="350" height="260">
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/05.jpg" alt="02" width="350" height="260">
            </li>
            <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                <img src="/static/media/images/06.jpg" alt="02" width="350" height="260">
            </li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        
        <div class="contentpicturetext2 col-xs-12 col-sm-12 col-md-12">
        <p style="text-align: justify">Wykwalifikowany i przyjazny zespół lekarzy i specjalistów z dziedzin kardiologii, kardiologii dziecięcej, angiologii, dietetyki, psychologii oraz akupunktury postara się pomóc Państwu w znalezieniu oraz wyeliminowaniu przyczyn, tak powszechnych w naszych czasach, dolegliwości sercowo-naczyniowych, dolegliwości bólowych w klatce piersiowej, niezwiązanych z chorobami serca, a także w zdiagnozowaniu czynników ryzyka chorób związanych z miażdżycą, nadkrzepliwością, zaburzeniami rytmu. Postaramy się zapewnić opiekę dla tych z Państwa, którzy mają już zdiagnozowane dolegliwości sercowo-naczyniowe, a także ocenić ryzyko ich wystąpienia u tych z Państwa, którzy są narażeni na ich wystąpienie z racji stylu życia, wieku, chorób współistniejących.</p>
        
        <p style="text-align: justify">W naszym centrum będzie również możliwość wykonania szybkiej diagnostyki kardiologicznej i, w razie potrzeby, pokierujemy Państwo do odpowiednich placówek szpitalnych. Mamy nadzieję zapewnić wszystkim naszym pacjentom komfortowe warunki dla odbycia diagnostyki medycznej, przyjazną atmosferę oraz najwyższą jakość oferowanych usług medycznych.</p>
        
        <p style="text-align: justify">Z całego serca dołożymy starań aby Państwa zadowolenie było wizytówką naszego Centrum Serca.</p>
        
        <div class="container">
        <div class="prefooter">
        <p style="text-align: justify">Centrum Serca Lumina Cordis
            <br>Ul. Mikołaja 20
            <br>Godziny otwarcia: Pon - Pt 8:00 - 20:00
            <br>Tel: 71 712 78 98</p>
        </div>
        </div>
        </div>
    </div>
</div>



{% endblock content %}